html {
    height: 100%;
    background: url('https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center fixed;
    background-size: cover;
}

body {
    align-items: center;
    justify-content: center;
}

.keys {
    height: 100vh;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: azure;
}

.key {
    border: .3rem solid #ff7eee;
    padding: 1rem .5rem;
    border-radius: 1rem;
    margin: 1rem;
    text-align: center;
    font-size: 1.5rem;
    width: 8rem;
    background: rgba(0, 0, 0, 0.5);
    transition: all .09s ease;
}

kbd {
    font-size: 4rem;
    display: block;
}

.sound {
    text-transform: uppercase;
}

.playing {
    border-color: #4248b8;
    transform: scale(1.1);
    box-shadow: 0 0 1rem #4248b8;
}

.sound {
    color: #989cf5;
    font-weight: 500;

}

.intro {
    color: #e9eaf1;
    font-weight: 500;
    font-size: 4rem;
    text-align: center;
    margin-bottom: .1rem;
}
